@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/dark-theme.css";

@layer base {
  :root {
    background: #09111f;
    color: #fff;
    margin: 0;
  }
}

@layer utilities {
  .text-28-semibold {
    @apply text-[28px] font-semibold;
  }
  .text-10-regular {
    @apply text-[10px] font-normal;
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400;
  }
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400;
  }
}
